#foto {
    width: 12.5%;
    float: left;
    margin-right: 30px;
    margin-left: 10px;
    border: 5px mintcream;
}

#foto img {
    width: 100%;
    height: auto;
    border: 2px solid mintcream;
}
.maindetail
{
    padding: 25px 15px;
    background-color: dimgray;
    color: white;
}

.subdetail .side1
{
    color: white;
}

.subdetail .side2
{
    margin-bottom: 5px;
}

.subcontent p
{
    font-size: 1em;
}

.subcontent ul
{
    font-size: 1em;
}

.intern ol
{
    font-size: 20px;
}

.place
{
    font-size: medium;
}

.interndetail
{
    font-size: small;
}

.side1
{
    background-color: black;
    color : honeydew;
    float: left;
    padding : 10px;
    width : 300px;
}

.side2
{
    float: right;
    padding : 10px;
    width : 450px;
}

#cv {
    width: 90%;
    max-width: 800px;
    background: #f3f3f3;
    margin: 30px auto;
}
